<!DOCTYPE html>
<html
  lang="ko"
  th:replace="~{layout-main/layout :: layout(~{::title}, ~{::main}, ~{::style})}"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>글쓰기</title>
    <!-- 부트스트랩 CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <style>
      .ck-editor__editable {
        min-height: 30rem;
      }
    </style>
  </head>
  <body>
    <main class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <!-- 분류와 제목 입력 -->
          <div class="mb-3">
            <label for="category" class="form-label">분류:</label>
            <select class="form-select" id="category">
              <option value="1">카테고리 1</option>
              <option value="2">카테고리 2</option>
              <option value="3">카테고리 3</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="title" class="form-label">제목:</label>
            <input type="text" class="form-control" id="title" />
          </div>
          <!-- 책 검색 버튼 -->
          <div class="mb-3">
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#bookSearchModal"
            >
              책 검색
            </button>
            <!-- 책 검색 모달 -->
            <div
              class="modal fade"
              id="bookSearchModal"
              tabindex="-1"
              aria-labelledby="bookSearchModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="bookSearchModalLabel">
                      책 검색
                    </h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <!-- 검색 입력창과 버튼 -->
                    <div class="input-group mb-3">
                      <input
                        type="text"
                        class="form-control"
                        id="search-keyword"
                        placeholder="검색어를 입력하세요"
                      />
                      <button
                        type="button"
                        class="btn btn-primary"
                        onclick="test()"
                      >
                        검색
                      </button>
                      <div id="search-result">
                        <!-- 구분선 -->
                        <hr class="my-4" />
                      </div>
                    </div>
                    <!-- 책 정보 표시 -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- CKEditor -->
          <div class="mb-3">
            <label for="editor" class="form-label">내용:</label>
            <div id="editor" style="height: 600px"></div>
          </div>
          <!-- 취소 및 등록 버튼 -->
          <div class="text-center">
            <button type="button" class="btn btn-secondary me-2">취소</button>
            <button type="button" class="btn btn-primary">등록</button>
          </div>
        </div>
      </div>
      <script src="https://cdn.ckeditor.com/ckeditor5/41.1.0/classic/ckeditor.js"></script>
      <script src="https://code.jquery.com/jquery-latest.min.js"></script>
      <script src="/js/api.js"></script>
      <script>
        ClassicEditor.create(document.querySelector("#editor"), {
          minHeight: "600px",
        }).catch((error) => {
          console.error(error);
        });
      </script>
      <script>
        let url = "/book";
        let success = function (res) {
          $("#search-result").html(res);
        };
        let fail = function () {
          alert("통신 에러 발생!");
        };
        function test() {
          let data = {
            keyword: $("#search-keyword").val(),
            amount: "10",
            start: "1",
          };
          api.search(url, data, success, fail);
        }
      </script>
    </main>

    <!-- 부트스트랩 JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
