<!DOCTYPE html>
<html
  lang="ko"
  th:replace="~{layout-main/layout :: layout(~{::title}, ~{::main}, ~{::style})}"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <title>리뷰 리스트</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Bootstrap JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>
    <style>
      .club {
        margin-top: 10px;
        margin-bottom: 10px;
      }

      main {
        padding: 10px;
      }

      /* 클럽 만들기 버튼 스타일 */
      .create-club-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 1000; /* 다른 요소 위에 표시 */
      }
    </style>
  </head>
  <body>
    <main>
      <!-- 클럽 소개 섹션 -->
      <section
        class="container mt-4"
        style="min-width: 1260px; min-height: 600px; max-width: 600px"
      >
        <div class="row justify-content-center">
          <!-- 첫 번째 클럽 소개 섹션 -->
          <div
            class="col-md-6 club"
            th:each="club:${clubs}"
            th:object="${club}"
          >
            <div
              class="rounded p-4 border border-3 border-dark text-center d-flex flex-column justify-content-between"
              style="min-height: 500px; max-width: 600px"
            >
              <!-- 클럽 사진 -->
              <img
                src="club_image1.jpg"
                th:src="*{profile}"
                alt="클럽 사진"
                class="img-fluid mb-3 mx-auto d-block rounded border border-1 border-dark"
                style="width: 50%; min-width: 50%; border-radius: 20px"
              />
              <!-- 클럽 명 -->
              <h4 class="fw-bold mb-3" th:text="*{name}">클럽 명</h4>
              <!-- 클럽 소개글 -->
              <p class="text-muted" th:text="*{introduce}">L</p>
            </div>
          </div>
        </div>
      </section>

      <!-- 클럽 만들기 버튼 -->
      <div class="create-club-button">
        <a href="/create-club" class="btn btn-primary">클럽 만들기</a>
      </div>
    </main>
  </body>
</html>
