<!DOCTYPE html>
<html
  lang="ko"
  th:replace="~{layout-main/layout :: layout(~{::title}, ~{::main}, ~{::style})}"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>모임 만들기</title>
    <!-- 부트스트랩 CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      .field-error {
        border-color: #dc3545;
        color: #dc3545;
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <main>
      <div class="container mt-5" style="max-width: 920px">
        <h1 class="text-center mb-4">모임 만들기</h1>
        <form action="/meeting/save" method="post" th:object="${meeting}">
          <input type="text" th:field="*{clubNo}" value="0" />
          <div class="mb-3 row">
            <label for="meetingName" class="col-sm-2 col-form-label"
              >모임명:</label
            >
            <div class="col-sm-10">
              <label for="meetingType">온라인 </label>
              <input
                type="checkbox"
                th:errorclass="field-error"
                class="form-control"
                th:field="*{online}"
                id="meetingType"
              />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="date" class="col-sm-2 col-form-label">날짜:</label>
            <div class="col-sm-10">
              <input
                type="date"
                class="form-control"
                th:errorclass="field-error"
                th:field="*{meetingDate}"
              />
              <div class="field-error" th:errors="*{meetingDate}">
                아이디 오류
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="time" class="col-sm-2 col-form-label">시간:</label>
            <div class="col-sm-10">
              <input
                type="time"
                th:errorclass="field-error"
                class="form-control"
                th:field="*{meetingTime}"
              />
              <div class="field-error" th:errors="*{meetingTime}">
                아이디 오류
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="location" class="col-sm-2 col-form-label">위치:</label>
            <div class="col-sm-10">
              <input
                type="text"
                th:errorclass="field-error"
                class="form-control"
                id="location"
                name="location"
                th:field="*{location}"
              />
              <div class="field-error" th:errors="*{location}">아이디 오류</div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="capacity" class="col-sm-2 col-form-label"
              >참가 정원:</label
            >
            <div class="col-sm-10">
              <input
                type="number"
                th:errorclass="field-error"
                th:field="*{max}"
                class="form-control"
                id="capacity"
                name="capacity"
              />
              <div class="field-error" th:errors="*{max}">아이디 오류</div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="book" class="col-sm-2 col-form-label">주제 도서:</label>
            <div class="col-sm-10">
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#bookSearchModal"
              >
                책 검색
              </button>
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-primary d-block mx-auto"
            style="width: 200px"
          >
            모임 만들기
          </button>
        </form>
      </div>

      <!-- 책 검색 모달 -->
      <div
        class="modal fade"
        id="bookSearchModal"
        tabindex="-1"
        aria-labelledby="bookSearchModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="bookSearchModalLabel">책 검색</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <!-- 검색 입력창과 버튼 -->
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="검색어를 입력하세요"
                />
                <button type="button" class="btn btn-primary">검색</button>
              </div>
              <!-- 책 정보 표시 -->
              <div class="mb-3 d-flex align-items-start">
                <img
                  src="#"
                  alt="책 사진"
                  class="img-thumbnail me-2 flex-shrink-0"
                  style="height: 125px"
                />
                <div>
                  <h5 class="mb-1">책 제목</h5>
                  <p class="mb-1">저자: 저자 이름</p>
                  <p class="mb-1">출판사: 출판사 이름</p>
                  <p>
                    책 소개글이 들어갑니다. 책 소개글이 들어갑니다. 책 소개글이
                    들어갑니다.
                  </p>
                </div>
              </div>
              <!-- 구분선 -->
              <hr class="my-4" />
            </div>
          </div>
        </div>
      </div>
      <script th:inline="javascript">
        // let errorMsg =  [[${#fields.globalErrors()}]];
      </script>
    </main>
  </body>
</html>
