<!DOCTYPE html>
<html
  lang="ko"
  th:fragment="layout(title, main, style)"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:replace="${title}">커뮤니티 사이트</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Bootstrap JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>
    <style th:replace="${style}"></style>

    <style>
      /* 추가적인 CSS 스타일링을 여기에 추가할 수 있어요. */
      .carousel-control-next,
        .carousel-control-prev /*, .carousel-indicators */ {
        filter: invert(100%);
      }

      #siteName {
        color: rgb(2, 2, 150);
        text-decoration: none;
      }
    </style>
  </head>

  <body>
    <header>
      <div
        class="container-lg d-flex justify-content-between align-items-center py-3"
      >
        <!-- 햄버거 버튼 -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#navbarModal"
        >
          <span class="navbar-toggler-icon">햄버거</span>
        </button>
        <!-- 사이트 이름 -->
        <h2 class="m-0">
          <a id="siteName" href="/">BookClub</a>
        </h2>
        <!-- 로그인 버튼 -->
        <ul class="list-inline">
          <li th:if="${loginMember eq 'true'}" class="list-inline-item">
            <a href="/member/info">내 정보</a>
          </li>
          <li th:if="${loginMember eq 'false'}" class="list-inline-item">
            <a href="#" data-bs-toggle="modal" data-bs-target="#loginModal"
              >로그인</a
            >
          </li>
        </ul>
      </div>
    </header>

    <!-- 햄버거 모달 -->
    <div
      class="modal fade"
      id="navbarModal"
      tabindex="-1"
      aria-labelledby="navbarModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="navbarModalLabel">네비게이션 바</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <!-- 네비게이션 바 내용 -->
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/club/list">클럽 리스트</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/board/list">리뷰 리스트</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/meeting/list">오늘의 모임</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">4</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- 로그인 모달 -->
    <div
      class="modal fade"
      id="loginModal"
      tabindex="-1"
      aria-labelledby="loginModalLabel"
      aria-hidden="true"
    >
      <div th:if="${loginMember eq 'false'}" class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loginModalLabel">로그인</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <!-- 로그인 폼 -->
            <form action="/login" method="post">
              <div class="mb-3">
                <label for="username" class="form-label">아이디</label>
                <input
                  type="text"
                  class="form-control"
                  name="id"
                  id="username"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">비밀번호</label>
                <input
                  type="password"
                  class="form-control"
                  name="pw"
                  id="password"
                  required
                />
              </div>
              <div class="mb-3 form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="rememberMe"
                />
                <label class="form-check-label" for="rememberMe"
                  >아이디 저장</label
                >
              </div>
              <button type="submit" class="btn btn-primary">로그인</button>
            </form>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn btn-link">아이디 찾기</a>
            <a href="#" class="btn btn-link">비밀번호 찾기</a>
            <a href="#" class="btn btn-link">회원가입</a>
          </div>
        </div>
      </div>
    </div>

    <!-- 네비게이션 바 -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container-lg">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/club/list">클럽 리스트</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/board/list">독후감</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/meeting/list">모임 찾기</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">4</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- 메인창 -->
    <main th:replace="${main}"></main>

    <!-- 푸터 -->
    <footer class="footer mt-5">
      <div class="container">
        <p class="text-muted text-center">테스트 사이트입니다.</p>
      </div>
    </footer>
  </body>
</html>
