<!DOCTYPE html>
<html
  lang="ko"
  th:replace="~{layout-main/layout :: layout(~{::title}, ~{::main}, ~{::style})}"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <title>WebRTC working example</title>

    <!-- 웹소캣 연결에 필요한 라이브러리 선언 -->
    <style>
      video {
        min-width: 640px;
        border: 1px solid black;
      }

      #remoteStreamDiv {
        display: flex;
        flex-wrap: wrap;
      }
    </style>
  </head>
  <body>
    <main>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
      <div class="btnBox">
        <!-- 룸 아이디 번호를 입력하는 input -->
        <!--        <input type="text" id="roomIdInput"/>-->

        <input type="hidden" id="roomIdInput" th:value="${roomId}" />
        <!-- 룸 아이디를 입력후 클릭하는 button -->
        <button type="button" id="enterRoomBtn">enter Room</button>
        <!-- enterRoomBtn 클릭시 나타남, Streams 정보를 담은 Peer 를 웹소켓 ( 시그널링 )   -->
        <button type="button" id="startSteamBtn" style="display: none">
          start Streams
        </button>
      </div>

      <!-- WebRTC에 연결된 웹캠들이 추가되는 Div  -->
      <div id="remoteStreamDiv">
        <!-- 내 웹캠 화면을 보여주는 video html -->
        <video
          id="localStream"
          autoplay
          playsinline
          controls
          style="display: none"
        ></video>
      </div>

      <!-- webRTC 연결을 위한 js  -->
      <!-- <script src="../static/peerConfig.js"></script> -->
      <script src="peerConfig.js"></script>
    </main>
  </body>
</html>
